Example/API.swift -diff linguist-generated
docs/** -diff linguist-documentation
Sources/ApolloDeveloperKit/Assets/bundle.js -diff linguist-generated
Sources/ApolloDeveloperKit/Schema/Schema.swift -diff linguist-generated
src/schema.ts -diff linguist-generated
